.secciones h1 {
  letter-spacing: 10px;
  font-weight: bolder;
}

.seccion {
  min-width: 90vw;
  min-height: 80vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important; */
  box-shadow: rgba(0, 0, 0, 0.01) 0px 30px 60px -12px inset, rgba(0, 0, 0, 1) 20px 18px 36px -18px inset !important;
}


.secciones a {
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  /* text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  text-decoration: none;
  /* -webkit-text-stroke: 1px black; */
  text-align: center;
}

.show-gallery {
  opacity: 1;
}

.seccion:hover .show-gallery {
  opacity: 1;
  transition: ease-in-out .5s;
}

.seccion:not(:hover) .show-gallery {
  opacity: 0;
  transition: ease-in-out .5s;
}

#montajes {
  background-position:  50% 30%;
}

@media screen and (max-width: 800px) {
  .seccion {
    background-position: 75% 50%;
  }

  .seccion:not(:hover) .show-gallery {
    opacity: 1;
    transition: ease-in-out .5s;
  }
}