.card-img {
    cursor: pointer;
    border-radius: 2px;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.card-polaroid {
    border-radius: 0px;
    background-color:white;
    padding: 20px;
    border:1px solid #BFBFBF !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
    image-rendering: crisp-edges;
}

.main-card {
    transition: all 0.4s ease-in-out;
}

.main-card:hover .card-img {
    opacity: 0.8;
    filter: grayscale(50%)
}