@import url("db.onlinewebfonts.com/c/9ab8abd11c40ee5c8d1905f9c9cb9ac8?family=Futura");

body {
    background-color: white !important;
    font-family: 'Futura', sans-serif;
    text-transform: uppercase;
}