p {
    text-align: justify;
}

header h3 {
    letter-spacing: 10px;
}

.div-description {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color: #DDE2E6;
}

.div-apartado h1 {
    font-weight: bolder;
}

.div-apartado img {
    /* border-radius: 5px !important; */
    object-fit: cover;
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}

.div-aboutme {
    background-color: white;
}