.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    min-width: 100vw;
    min-height: 100vh; 
    text-align: center;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    filter: grayscale(20%);

    text-shadow: 2px 1px 1px #FF00CC, -2px 1px 1px #00FFEE, 0 0 0 #FFF, 0 -2px 1px #F5FF00;
}

.parallax.fade-out {
    opacity: 0.75;  
}

.parallax.fade-in {
    opacity: 1;   
}

.parallax.fade-out h1, h2 {
    opacity: 1;
}

.parallax.fade-in  h1, h2 {
    opacity: 1;
}

.parallax h1 {
    font-size: 5em;
    letter-spacing: 35px;
    margin-top: 20px;
}

.parallax h3 {
    margin-top: 20px;
    margin-left: -20px;
}

@media screen and (max-width: 780px) {
    .parallax h1 {
        font-size: 4em;
        letter-spacing: 5px;
        margin-top: 20px;
    }
}