.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    min-width: 100vw;
    min-height: 100vh; 
    text-align: center;
}

.parallax h1 {
    font-size: 5em;
    margin-top: 20px;
}

.parallax h3 {
    margin-top: 20px;
}
/* 
@media screen and (max-width: 650) {
    .parallax {
        fon
    }
} */