.main-videos div {
    margin: 50px;
    padding-bottom: 20px;
}

.apartado-video {
    height: 45vh;
}

.apartado-video>img {
    object-fit: cover;
    height: 45vh;
}

#img-ajustada {
    object-fit: cover;
    object-position: 0% 30%;
}

#video-yt {
    width: 50vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

.shine-effect:before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    height: 150px;
    background-color: black;
}